body {
    background-color: #e0f5ff;
    display: flex;
    justify-content: space-evenly;
}

.customizeMessage {
    padding: 15px 0px 5px;
}

.description {
    align-self: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 10px 0px 10px;
}

.dotBlue {
    background-color: #2dafeb;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0;
    width: 20px;
}

.dotPink {
    background-color: #db0d89;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0;
    width: 20px;
}

.dotYellow {
    background-color: #f7d54d;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0;
    width: 20px;
}

.imageRequirement {
    color: gray;
    font-size: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.labelText {
    display: flex;
    font-size: 100%;
    justify-content: center;
    padding-top: 4px;
    text-align: center;
}

.logo {
    display :none;
    height: 15px;
    left: 500px;
    position:absolute;
    top: 530px;
    width: 90px;
    z-index: 2;
}

.umbrellaImage { 
    max-width: 100%;
    max-height: 100%;
}

.loader{
    align-items: center;
    animation: rotation 2s infinite linear;
    display: block;
    filter: invert(1) brightness(0.5) sepia(1) saturate(700%) hue-rotate(180deg);
    margin: 180px auto 0px;
}

.loaderIcon {
    height: 25px;
    animation: rotation 2s infinite linear;
}


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.umbrellaImageContainer {
    height: 50%;
    width: 30%;
    margin-left: 200px; 
    align-self: center;
    color: white;
}

.uploadButton {
    background-color: #2dafeb;
    color: white;
    cursor: pointer;
    height: 30px;
    padding: 10px 10px 10px;
    width: 300px;
}

.uploadIcon{
    filter: invert(100%);
    float: left;
}

.uploadInput {
    opacity: 0;
    /* position: absolute; */
    z-index: -1;
}

.uploadLabel{
    float: left;
    height: 25px;
    text-align: center;
    /* padding: 4px 35px 0px 5px; */
    width: 300px;
}

.uploadMessage {
    color: gray;
    font-size:12px;
    padding: 5px 0px 5px;
}
